## SATR
### Python 102 : Notes

In [1]:
number = -999
print(abs(number))

999

In [3]:
number = 3.673
print(round(number))
print(round(number,2))

4
3.67

In [5]:
n=3
print(pow(n,2))

9

In [6]:
numbers  = 300,600,786,1000,276
print(max(numbers))
print(min(numbers))

1000
276

In [7]:
numbers  = 300,600,786,1000,276
print(sum(numbers))

2962

In [8]:
import math 
number=144
math.sqrt(144)

12.0

In [10]:
import math
print(math.remainder(26,5))

1.0

In [13]:
#genrate a random number between 1-100
import random
print(random.randint(1,100))

64

In [16]:
#datetime
import datetime
date =  datetime.date(2022,2,13)
print(date)
print(date.year)
print(date.month)
print(date.day)

2022-02-13
2022
2
13

In [17]:
import datetime
time = datetime.time(14,33,15)
print(time)
print(time.hour)
print(time.minute)
print(time.second)

14:33:15
14
33
15

In [20]:
import datetime
now = datetime.datetime.today()
print(now)
print(now.year)

2023-06-11 10:06:06.847910
2023

In [24]:
#change date to string
import datetime
date = datetime.date(2022,2,13)
time = datetime.time(14,5,17)
print(date)
print(time)

print(date.strftime('%A %B %Y'))
print(time.strftime('%I %M %S'))

2022-02-13
14:05:17
Sunday February 2022
02 05 17

In [26]:
#Advanced Strings
#Indexing
alphabet='abcdefghijklmnopqrstuvwxyz'
print(alphabet[0])
print(alphabet[-1])

a
z

In [34]:
#Slicing
text='This is Python Course'
#closed Range Slicing
print(text[8:14])
#open range Slicing
print(text[8:])
print(text[:7])
print(text[:])
print(text[-6:])

the_list=[1,2,3,4,5,6]
the_tuple=(1,2,3,4,5,6)
print(the_list[-3:])
print(the_tuple[2:])

Python
Python Course
This is
This is Python Course
Course
[4, 5, 6]
(3, 4, 5, 6)

In [39]:
alphabet='abcdefghijklmnopqrstuvwxyz'
print(alphabet[0:7:2])
print(alphabet[5:0:-1])
the_list=[1,2,3,4,5,6]
the_tuple=(1,2,3,4,5,6)

print(the_list[3:0:-2])
print(the_tuple[0:3:1])

aceg
fedcb
[4, 2]
(1, 2, 3)

In [43]:
#slice
alphabet='abcdefghijklmnopqrstuvwxyz'
print(alphabet[0:5])
s=slice(0,5)
print(alphabet[s])
the_list=[1,2,3,4,5,6]
the_tuple=(1,2,3,4,5,6)
print(the_list[s])
print(the_tuple[s])

abcde
abcde
[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [46]:
#index
text = 'This is python course'
the_list = [1,2,2,3]
the_tuple = (4,5)
print(text.index('is'))
print(the_list.index(2))
print(the_tuple.index(4))

2
1
0

In [49]:
#len
alphabet='abcdefghijklmnopqrstuvwxyz'
the_list = [1,2,3,4]
the_tuple = (1,2,3,4,5)
print(len(alphabet))
print(len(the_list))
print(len(the_tuple))

26
4
5

In [55]:
#count
the_string='this is the student noura'
the_list = [1,2,2,3,3,3,3,3]
the_tuple = (1,2,3,4,5,5,5,5)
print(the_string.count('s'))
print(the_list.count(3))
print(the_tuple.count(5))

3
5
4

In [59]:
#in
text='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do'
print('do' in text)
print('is' not in text )

the_list = [1,2,2,3,3,3,3,3]
the_tuple = (1,2,3,4,5,5,5,5)
print(0 not in the_list)
print(6 in the_tuple)

True
False
True
False

In [65]:
first_name='Sara'
second_name='faisal'
print(first_name+' '+second_name)
print(first_name*3)

list1=[1,2,3]
list2=[4,5,6]
tuple1=1,2,3
tuple2=4,5,6
print(list1+list2)
print(tuple1+tuple2)
print(list2*3)
print(tuple1*2)

Sara faisal
SaraSaraSara
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
[4, 5, 6, 4, 5, 6, 4, 5, 6]
(1, 2, 3, 1, 2, 3)

In [67]:
text = 'Python'
print(text[0:5:3])

Ph

In [68]:
text = 'Python'
print(text[-3])

h

In [73]:
#Advanced Strings
#find
text='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do'
print(text.find('do')) #first match
print(text.rfind('do')) #last match
print(text.find('xx')) #no match gives -1
print(text.find('it',50,60)) #match in index range

12
61
-1
53

In [80]:
text = 'A, B, C'
string_to_list = text.split() #split by space
string_to_list1 = text.split(',') #split by , 
print(string_to_list)
print(string_to_list1)

text1='this is a string'
string_to_list2=text1.split('s',1) #split by s and split one time
print(string_to_list2)

['A,', 'B,', 'C']
['A', ' B', ' C']
['thi', ' is a string']

In [84]:
#join
text = 'A, B, C, D'
string_to_list = text.split(',') #split by space
list_to_string='#'.join(string_to_list)
print(list_to_string)

A# B# C# D

In [88]:
values='A987'
print(values.isalnum()) #String has only numbers and letters
values1='A 987'
print(values1.isalnum()) #Space is not true in isalnum 
values2='987'
print(values2.isdigit()) #String has only digits

True
False
True

In [91]:
#replace
values='1\n2\n3\n4\n5\n6'
new_values = values.replace('\n',',')
print(values)
print(new_values)

1
2
3
4
5
6
1,2,3,4,5,6

In [93]:
#strip #remove unwanted spaces
text='               Python course    '
print(text.strip())
print(text.lstrip())

Python course
Python course

In [98]:
str = 'This is Python Course'
print(str.lower()) #Convert to lower case
print(str.upper()) #Convert to upper case
print(str.swapcase()) #Convert upper to lower and lower to upper
print(str.title()) #first letter upper

this is python course
THIS IS PYTHON COURSE
tHIS IS pYTHON cOURSE
This Is Python Course

In [107]:
#Raw String r or R
str = '\t Python'
str = r'\t Python'
file_path = 'C:\\xMyFolder\\xMySubfolder\\xMyfile.txt' 
file_path = r'C:\xMyFolder\xMySubfolder\xMyfile.txt' 
#escape sequence error
print(file_path)

C:\xMyFolder\xMySubfolder\xMyfile.txt

In [4]:
#formate
first_name  = 'shoug'
last_name = 'alkurbi'
age = 25
print('My name is {} {}, and I am {} years old '.format(first_name,last_name,age))
#{} is called place holder it can take an index number
print('My last name is {1} my first name is {0}, and I am {2} years old '.format(first_name,last_name,age))
#or varible name
print('My name is {f_name} {l_name}, and I am {a} years old '.format(f_name=first_name,l_name=last_name,a=age))

My name is shoug alkurbi, and I am 25 years old
My last name is alkurbi my first name is shoug, and I am 25 years old
My name is shoug alkurbi, and I am 25 years old

In [14]:
#Advanced List
#2D List
value = [1,True,'Python']
values = [[1,2,3],True,'Python']

print(value[0])
print(values[0])
print(values[0][2])

numbers = [[1,2,3],
           [4,5,6],
           [7,8,9]
          ]
print(numbers[1][0])
print(numbers[2][2])

1
[1, 2, 3]
3
4
9

In [19]:
#filter
ages = [30,9,15,22,17,44,26,5]

def filtered_ages(age):
    return age>=18

print(list(filter(filtered_ages, ages)))

[30, 22, 44, 26]

In [22]:
#map

numbers=[5,10,20,25,50]

def square(num):
    return num ** 2

print(list(map(square,numbers)))

[25, 100, 400, 625, 2500]

In [26]:
#sort
list_one = [9,5,1,8]
list_two = ['Khadijah','Asmaa','Zainab']

list_one.sort() #ascending order
list_two.sort() #alphabetical order

print(list_one)
print(list_two)

list_one.sort(reverse=True) #descending order
list_two.sort(reverse=True) #reversed alphabetical order
print(list_one)
print(list_two)

[1, 5, 8, 9]
['Asmaa', 'Khadijah', 'Zainab']
[9, 8, 5, 1]
['Zainab', 'Khadijah', 'Asmaa']

In [27]:
#reverse
names = ['Aljawharah','Ghadah','Eman','Hind']
names.reverse()
print(names)

['Hind', 'Eman', 'Ghadah', 'Aljawharah']

In [32]:
#List Comprehension
lst = [1,2,3,4,5]

multiplied_list = [num*2 for num in lst]
print(multiplied_list)

#List Comprehension and if condition
multiplied_list = [num*2 for num in lst if num>3]
print(multiplied_list)
multiplied_list = [num*2 for num in lst if num>3 and num%5==0]
print(multiplied_list)

[2, 4, 6, 8, 10]
[8, 10]
[10]

In [33]:
#Advanced Functions
#Positional Arguments
def info(name,age):
    print('My name is',name,'and I am',age,'years old')
    
info('Ghadah',16)  #Require Argument 
#Number of Argument = number of parameter and require order

My name is Ghadah and I am 16 years old

In [35]:
#keyword Arguments
def info(name,age):
    print('My name is',name,'and I am',age,'years old')
    
info(age = 16,name='Ghadah')  #Require Argument 

#Keyword Arguments #order doesn't matter 
#Number of Argument = number of parameter
#keyword Arguments name = parameter name

#we can not run positional argument follows keyword argument 
#we can run keyword argument follows positional argument

My name is Ghadah and I am 16 years old

In [41]:
#Default Parameter or Optional Parameter

def info(name ='Ghadah',age=16,course='python'):  #default parameter
    print('My name is',name,'and I am',age,'years old and i am taking',course,'course')
    
info()
info('Ghadah fahad',26,'Javascript') #Require order

My name is Ghadah and I am 16 years old and i am taking python course
My name is Ghadah fahad and I am 26 years old and i am taking Javascript course

In [46]:
#Argument Packing
#Argument Tuple Packing

def avg(*args): #Argument Tuple Packing #args classtype tuple
    total = sum(args)
    leng = len(args)
    average = total / leng
    print(average)

avg(2,6,1)

3.0

In [49]:
#Argument Tuple Unpacking
def info(name1,name2,name3):
    print("Fisrt Student's name:", name1)
    print("Second Student's name:", name2)
    print("Third Student's name:", name3)

names='Abdullah','Sara','Ahmed'
info(*names) #Argument Tuple Unpacking

Fisrt Student's name: Abdullah
Second Student's name: Sara
Third Student's name: Ahmed

In [51]:
#Packing and Unpaking Argument

def my_func(*items): #Packing
    print(items)
    
items = ['a','b','c']
my_func(*items) #Unpacking

('a', 'b', 'c')

In [54]:
#Argument Dictionary Packing

def info(**kwargs): #Argument Dictionary Packing #<class 'dict'>
    print('My name is',kwargs['name'])

info(name='Ali',age=17) #only keyword argument no postional argument

My name is Ali

In [56]:
#Argument Dictionary Unpacking

def info(name,age): 
    print('My name is',name,'and I am',age,'years old')

d={'name':'Ali','age':17}
info(**d) #Argument Dictionary Unpacking

My name is Ali and I am 17 years old

In [64]:
def my_func(*nums):
    print(nums)

nums = [1, 2, 3]
my_func(nums)

([1, 2, 3],)

In [66]:
def info(quantity=4, item = 'apple', price = 1):
    print(quantity, item, 'cost', price)
info()

4 apple cost 1